<nav *ngIf="game?.scores?.length === 2; else multiTeams" 
    class="navbar navbar-expand navbar-dark bg-inverse px-0"
    style="border-bottom: 1px solid #000;">

    <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
            <a class="nav-link text-truncate">
                {{getPlayer(game.scores[0])?.name}}
            </a>
        </li>

        <li class="nav-item" style="width: 8rem;">
            <a class="nav-link px-0">
                <i class="fa fa-refresh"></i>
            </a>
        </li>

        <li class="nav-item w-100">
            <a class="nav-link text-truncate">
                {{getPlayer(game.scores[1])?.name}}
            </a>
        </li>
    </ul>
</nav>


<ng-template #multiTeams>
    <nav class="navbar navbar-expand navbar-dark bg-inverse">
        <!-- <a class="navbar-brand" style="width: 5rem;">Multi</a> -->
    
        <ul class="navbar-nav w-100" style="flex: 1">
            <li *ngFor="let score of game?.scores" class="nav-item" style="flex:1">
                <a class="nav-link text-truncate" href="#">
                    {{getPlayer(score)?.name}}
                </a>
            </li>
        </ul>
    </nav>
</ng-template>